{% extends 'master/base.html' %}
{% block content %}
<h1>User Login Page</h1>
{% include 'master/message.html' %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="exampleFormControlInput1"  />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleFormControlInput1"  />
    </div>

    <div class="mb-3">
      <input type="submit" value="Login" class="form-control btn btn-success" id="exampleFormControlInput1"  />
    </div>

  </form>
{% endblock content %}
    